<div class="splitcontent" style="border: 1px solid">
  <div class="splitcontentleft" >
    <%= setting['company_name'] %> <br/>
    <%= setting['address'] %> <br/>
    <%= setting['address_2'] %> <br/>
    Ph:<%= setting['phone'] %> <br/>
    Email:<%= setting['email'] %> <br/>
  </div>
  <div class="splitcontentleft" style="border-left: 1px solid">
    Project: <%= @invoice.project %> <br/>
    Invoice no: <%= "##{@invoice.id}" %> <br/>
    Date: <%= "#{format_date @invoice.created_at}" %> <br/>
    <% year = Date.today.year %>
    Financial year: <%= Date.today.month > 3 ? "#{year}-#{year+1}" : "#{year-1}-#{year}" %> <br/>
    Work order no : <%= @invoice.project.work_order_number %> <br/>
    Date : <%= format_date @invoice.invoice_issues.map(&:issue).map(&:created_on).sort.first %> <br/>
    W.O Amount :<%= @invoice.project.issues.sum(:contract_amount) %> <br/>
  </div>
</div>
