<div class="autoscroll">
  <table class="list issues" >
    <thead>
    <tr>
      <th>#</th>
      <th>client</th>
      <th>amount without taxes</th>
      <th>Taxes</th>
      <th>Amount With taxes</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.id %></td>
          <td><%= invoice.client.name %></td>
          <td><%= invoice.issue_contract_amount %></td>
          <td><%= invoice.tax_amount %>  </td>
          <td><%= invoice.invoice_amount %></td>

          <td><%= link_to('show', project_invoice_path(@project, invoice)) if invoice.viewable? %></td>
          <td><%= link_to('remove', project_invoice_path(@project, invoice), method: 'delete') if invoice.deletable?  %></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
