
<table class="list table">
  <thead>
  <tr class="<%= cycle('odd', 'even') %>">
    <th>Issues</th>
    <th>Amount<br/> as per work order</th>
    <th>This Bill Qty</th>
    <th>Cumulative qty <br/>till Last Bill</th>
    <th>Cumulative qty <br/>upto this</th>
    <th>Amount of this bill</th>
    <th>Cumulative Amount <br/>till last bill</th>
    <th>Cumulative amount <br/>upto this bill</th>
  </tr>
  </thead>
  <tbody>

  <% @project.issues.where.not(contract_amount: nil).each do |issue| %>
      <% invoice_issue = InvoiceIssue.where(issue_id: issue.id).where(invoice_id: @invoice.id).first %>
      <% if invoice_issue %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td> <%= "#{invoice_issue.issue_id} #{invoice_issue.issue.subject}" %></td>
            <td> <%= invoice_issue.issue.contract_amount %> </td>
            <td> <%= invoice_issue.ratio_done %> %  </td>
            <td> <%= invoice_issue.old_qty %>  % </td>
            <td> <%= invoice_issue.old_qty + invoice_issue.ratio_done %> % </td>
            <td>   <%= invoice_issue.rate %>  </td>
            <td>   <%= invoice_issue.old_rate %>  </td>
            <td>   <%= invoice_issue.old_rate +  invoice_issue.rate %>  </td>
          </tr>
      <% else %>
          <% invoice_issues = InvoiceIssue.where(issue_id: issue.id) %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td> <%= "#{issue.id} #{issue.subject}" %></td>
            <td> <%= issue.contract_amount %> </td>
            <td> 0  </td>
            <td> <%= invoice_issues.sum(:ratio_done) %> % </td>
            <td> <%= invoice_issues.sum(:ratio_done) %> % </td>
            <td>   0  </td>
            <td>   <%= invoice_issues.sum(:rate) %>   </td>
            <td>  <%= invoice_issues.sum(:rate) %>  </td>
          </tr>
      <% end %>
  <% end %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td> </td>
    <td> </td>
    <td>   </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> <%= InvoiceIssue.where(project_id: @project.id)
             .where(invoice_id: @invoice.id).sum(:rate) %> </td>
    <td> <%= InvoiceIssue.where(project_id: @project.id).sum(:rate) %></td>
  </tr>
  </tbody>
</table>
