<table class="list table">
  <thead>
  <tr class="<%= cycle('odd', 'even') %>">
    <th>Particulars</th>
    <th>Amount [Rs]</th>
    <th>Amount [Rs]</th>
  </tr>
  </thead>
  <tbody>
  <tr class="<%= cycle('odd', 'even') %>">
    <td>
      Cumulative Value upto this invoice As per annexure attached (Ref:  <%= link_to 'part 2', part_2_project_invoice_path(@project,@invoice) %>)
    </td>
    <td> <%= @invoice.original_amount %>  </td>
    <td>    </td>
  </tr>

  <tr class="<%= cycle('odd', 'even') %>">
    <td>  <b>Less</b>  </td>
    <td>   </td>
    <td>    </td>
  </tr>

  <tr class="<%= cycle('odd', 'even') %>">
    <td>
      Cumulative Value upto previous Invoice ( as per annexure attached) (Ref:  <%= link_to 'part 2', part_2_project_invoice_path(@project,@invoice) %>)
    </td>
    <td> <%= @invoice.old_amount.round(2) %>  </td>
    <td>    </td>

  </tr>

  <tr class="<%= cycle('odd', 'even') %>">
    <td>
      Amount of Current Bill
    </td>
    <td>   </td>
    <td>  <%= @invoice.issue_contract_amount.round(2) %>  </td>

  </tr>

  <% total_tax = 0 %>
  <% @invoice.invoice_taxes.each do |tax| %>
      <% total_tax += tax.rate %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td>
          <%= tax.tax.name %> (<%= tax.rate %> % )
        </td>
        <td> <%=(@invoice.issue_contract_amount * (tax.rate.to_f/100) ).round(2) %></td>
        <td>    </td>
      </tr>
  <% end %>

  <% amount_tax = (@invoice.issue_contract_amount * (total_tax.to_f/100) ) %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td> TOTAL TAXES </td>
    <td> </td>
    <td>  <%= amount_tax.round(2) %>  </td>
  </tr>
  <tr class="<%= cycle('odd', 'even') %>"></tr>
  <tr class="<%= cycle('odd', 'even') %>"></tr>

  <tr class="<%= cycle('odd', 'even') %>">
    <td>  </td>
    <td> </td>
    <td>  <%= (@invoice.issue_contract_amount  + amount_tax).round(2) %> </td>
  </tr>
  </tbody>
</table>