<% setting =  Setting.plugin_redmine_invoice %>
<%= render partial: 'header', locals: {setting: setting} %>
<br/>
<div style="float: right;cursor: pointer;">
  <%= link_to 'see part 1', project_invoice_path(@project,@invoice) %>
</div>
<div id="t1">
  <%= render partial: 'part_2' %>
</div>
<br/>
<br/>
<br/>
<br/>
Authorized signature
<br/>
<br/>
<br/>
<br/>
<br/>
<p style="border: 1px solid">
  <%= setting['footer_info'].html_safe %>
</p>
<%= content_for :sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>
