<div class="autoscroll">
  <table class="list issues">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @clients.each do |client| %>
        <tr>
          <td><%= link_to client.name, client_path(client) %></td>
          <td class="email"><%= mail_to( client.email ) %></td>
          <td><%= client.home_address %></td>
          <td><%= client.phone %></td>
          <td><%= link_to '', edit_client_path(client), class: 'icon icon-edit' %></td>
          <td><%= link_to '', client_path(client), method: 'delete', class: 'icon icon-del' %></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>