<%= labelled_fields_for :payment, @payment do |f| %>
    <%= error_messages_for 'payment' %>
    <b>Project:</b> <%= @payment.project %> <br/>
    <b> Issues: </b><%= @payment.invoice.issues_titles %> <br/>
    <b>Invoice number: </b><%= @payment.invoice_id %> <br/>
    <b>Invoice Base amount: </b><%= @payment.invoice.issue_contract_amount %> <br/>
    <b>Invoice amount: </b><%= @payment.invoice.invoice_amount %> <br/>
    <b>Deductible taxes: </b><%= DeductibleTax.active.sum(:rate) %> <br/>
    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :invoice_id %>
    <p><%= f.text_field :cheque_no, :maxlength => 255, :required => true %></p>
    <p><%= f.text_field :bank_name, :maxlength => 255, :required => true %></p>
    <p><%= f.text_field :date_on_cheque, :required => true %><%= calendar_for('payment_date_on_cheque') %></p>
    <p><%= f.text_field :cheque_amount, :maxlength => 255, :required => true %></p>

<% end %>
