<div class="autoscroll">
  <table class="list issues">
    <thead>
    <tr>

      <th>Invoice no </th>
      <th> Consultancy fees </th>
      <th> S.tax </th>
      <th> Invoice Amt + tax </th>
      <th> TDS </th>
      <th> Net <br/> Amount </th>

      <th>Cheque amount</th>
      <th>Cheque no & Date</th>
      <th>Bank name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% invoice_payments.each do |invoice_payment| %>
        <% if invoice_payment.payment_receipts.present? %>
            <% invoice_payment.payment_receipts.each_with_index do |payment, idx| %>
                <tr>
                  <td> <%= link_to invoice_payment.id, project_invoice_path(@project, invoice_payment) %></td>

                  <% if idx.zero? %>
                      <td> <%= invoice_payment.original_amount %></td>
                      <td> <%= invoice_payment.tax_amount %></td>
                      <td> <%= invoice_payment.invoice_amount %></td>
                  <% else %>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                <% end %>

                  <td> <%= payment.deductible_taxes %> </td>
                  <td> <%= payment.exp_cheque_amount %> </td>
                  <td> <%= payment.try( :cheque_amount) || '-' %></td>
                  <td> <%= payment.try( :cheque_no)  || '-'%></td>
                  <td> <%= payment.try( :bank_name) || '-'%></td>
            <% end %>
            </tr>
        <% end %>




    <% end %>

    </tbody>
  </table>
</div>
