<div class="autoscroll">
  <table class="list issues">
    <thead>
    <tr class="<%= cycle('odd', 'even') %>">

      <th>Sl no </th>
      <th>Invoice no </th>
      <th>Work order<br/> Amount </th>
      <th>Amount Without<br/> Taxed billed </th>
      <th> Consultancy fees </th>
      <th> S.tax </th>
      <th> Invoice Amt + tax </th>
      <th> TDS </th>
      <th> Net <br/> Amount </th>

      <th>Cheque amount</th>
      <th>Cheque no</th>
      <th>Date on cheque</th>
      <th>Bank name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% invoice_payments.each do |invoice_payment| %>
        <% if invoice_payment.payment_receipts.present? %>
            <% invoice_payment.payment_receipts.each_with_index do |payment, idx| %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td> <%= idx + 1 %></td>
                  <td> <%= link_to invoice_payment.id, project_invoice_path(@project, invoice_payment) %></td>
                  <td> <%= invoice_payment.project.issues.sum(:contract_amount) %></td>
                  <td>  <%= invoice_payment.issue_contract_amount.round(2) %>  </td>
                  <% if idx.zero? %>
                      <td> <%= invoice_payment.issue_contract_amount.round(2) %></td>
                      <td> <%= invoice_payment.tax_amount %></td>
                      <td> <%= invoice_payment.invoice_amount %></td>
                      <td> <%= invoice_payment.tds %> </td>
                      <td> <%= payment.exp_cheque_amount %> </td>
                  <% else %>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                  <% end %>
                  <td> <%= payment.try( :cheque_amount) || '-' %></td>
                  <td> <%= payment.try( :cheque_no)  || '-'%></td>
                  <td> <%= payment.try( :date_on_cheque)  || '-'%></td>
                  <td> <%= payment.try( :bank_name) || '-'%></td>

                </tr>
            <% end %>

        <% else %>

        <% end %>




    <% end %>

    </tbody>
  </table>
</div>
