<div class="autoscroll">
  <table class="list issues">
    <thead>
    <tr>

      <th>Invoice no </th>
      <th> S.tax </th>
      <th> Invoice Amt + tax </th>
      <th> TDS </th>
      <th> Net <br/> Amount </th>

      <th>Cheque amount</th>
      <th>Cheque no & Date</th>
      <th>Bank name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% invoice_payments.each do |invoice_payment| %>
        <tr>

          <td><%= link_to invoice_payment.id, project_invoice_path(@project, invoice_payment) %></td>
          <td><%= invoice_payment.tax_amount %></td>
          <td><%= invoice_payment.invoice_amount %></td>
          <td> <%=invoice_payment.payment_receipts.last.try( :deductible_taxes) || '0' %> </td>
          <td> <%=invoice_payment.payment_receipts.sum(:exp_cheque_amount) %> </td>
          <td><%= invoice_payment.payment_receipts.last.try( :cheque_amount) || '-' %></td>
          <td><%= invoice_payment.payment_receipts.last.try( :cheque_no)  || '-'%></td>
          <td><%= invoice_payment.payment_receipts.last.try( :bank_name) || '-'%></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
