<%= javascript_include_tag :cocoon %>
<%= labelled_fields_for :tax, @tax do |f| %>
    <%= error_messages_for 'tax' %>
    <% if @tax.safe_attribute? 'name' %>
        <p><%= f.text_field :name, :maxlength => 255, :required => true %></p>
    <% end %>



    <div class="splitcontent">
      <div class="splitcontentleft">
        <% if @tax.safe_attribute? 'type' %>
            <p><%= f.select :type,options_for_select(Tax.get_classes_name), :required => true %></p>
        <% end %>
      </div>
    </div>
    <%= f.fields_for :tax_applicables do |tax| %>
        <%= render 'tax_applicable_fields', :f => tax %>
    <% end %>
    <div id="tax" class="col-xs-11 margin-top-10" style="padding-right: 2px;">
      <p>
        <%= link_to_add_association 'add new rate', f, :tax_applicables %>
      </p>
    </div>



<% end %>
